/* 리셋 시작 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: '나눔 고딕', sans-serif;
    line-height: 1.6;
    color:#2d2d2d;
}

.inner_col {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none;
    list-style-position: inside;
}

address {
    font-style: normal;
}
/* 리셋 끝 */

#visual {
    background-image: url("../img/main_visual.jpg");
    background-size: cover;
    background-position: center center;
    height: 700px;
}

#visual>div {
    position: relative;
}

header {
    color: #fff;
}

#visual>div>ul:first-child {
    display: flex;
    justify-content: flex-end;
}

#visual>div>ul:first-child li {
    padding: 10px 15px; 
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

#navbar h1 {
    width: 15%;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

#navbar img {
    width: 100%;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    
}

#navbar div {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

#navbar div button {
    margin-right: 10px;
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border: 0;
}

#visual>div>h1 {
    display: flex;
    justify-content: center;
}

#visual>div>.under_navbar {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: end;
    bottom: -23%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    
}

#visual>div>.under_navbar li {
    width: 25%;
}

.under_navbar li:nth-child(1) div:nth-child(1) {
    background-color: #f4900e;
    padding: 25px 25px 51px; 
    text-align: center;
}

.under_navbar li:nth-child(1) div:nth-child(2) {
    background-color: rgba(123,112,172,0.7);
    opacity: 1; 
    text-align: center;
    padding: 20px;
}

.under_navbar li img {
    width: 30%;
}

.under_navbar li:nth-child(1) div:nth-child(2) p:nth-child(3) {
    color:#ff0;
}

.under_navbar li:nth-child(2) div:nth-child(1) {
    background-color: #ba70a5;
    padding: 25px 25px 51px;
    text-align: center;
}

.under_navbar li:nth-child(2) div:nth-child(2) {
    background-color: rgba(186,112,165,0.7);
    opacity: 1; 
    text-align: center;
    padding: 20px;
}

.under_navbar li:nth-child(2) div:nth-child(2) p:nth-child(3) {
    color:#ff0;
}

.under_navbar li:nth-child(3) div:nth-child(1) {
    background-color: #c19596;
    padding: 25px 25px 47px;
    text-align: center;
}

.under_navbar li:nth-child(3) div:nth-child(2) {
    background-color: rgba(193,149,150,0.7);
    opacity: 1; 
    text-align: center;
    padding: 20px;
}

.under_navbar li:nth-child(3) div:nth-child(2) p:nth-child(3) {
    color:#ff0;
}

.under_navbar li:nth-child(4) div:nth-child(1) {
    background-color: #c2b497;
    padding: 25px;
    text-align: center;
}

.under_navbar li:nth-child(4) div:nth-child(2) {
    background-color: rgba(194,180,151,0.7);
    opacity: 1; 
    text-align: center;
    padding: 20px;
}

.under_navbar li:nth-child(4) div:nth-child(2) p:nth-child(3) {
    color:#ff0;
}

.under_navbar li:nth-child(4) div:nth-child(2) p:nth-child(5) {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

/* .under_navbar li:nth-child(4):hover div:nth-child(2) {
    transform: translateY(-280px);
    opacity: 1;
    transition: 0.5s;
} */
/* .under_navbar li:nth-child(4):hover {
    transform: translateY(140px);
    opacity: 0;
} */